.container
  %section#how-it-works
    %div.d-flex.justify-content-center
      %h1 How it works
    .row.how-it-works-quad
      .col-lg-3.col-md-3.col-sm-3.col-xs-3.card-mobile
        .card
          %i.fas.fa-user-plus.fa-2x
          .card-body
            %h4{class:'card-title'} Become a pal
            %p{class:'card-text'} Sign up for a free 14-day trial and start searching for friendly local dogs or borrowers.
      .col-lg-3.col-md-3.col-sm-3.col-xs-3.card-mobile
        .card
          %i.fas.fa-search.fa-2x
          .card-body
            %h4{class:'card-title'} Pal finds pooch
            %p{class:'card-text'} After a simple address check, message other verified members safely and discover more about your local dogs, owners and borrowers.
      .col-lg-3.col-md-3.col-sm-3.col-xs-3.card-mobile
        .card
          %i.fas.fa-comment-alt.fa-2x
          .card-body
            %h4{class:'card-title'} Pal meets pooch
            %p{class:'card-text'} Meet up with your chosen dog, owner or borrower and get to know each other face to face and build trust.
      .col-lg-3.col-md-3.col-sm-3.col-xs-3.card-mobile
        .card
          %i.fas.fa-paw.fa-2x
          .card-body
            %h4{class:'card-title'} New furry friends
            %p{class:'card-text'} Enjoy fun making new furry friends. Dogs and people really benefit from more exercise and social interaction.
    %div.d-flex.justify-content-center
      = link_to 'Sign up now', new_user_registration_path, class:'btn btn-primary my-2 my-sm-0'