$green: #08B24A;
$red: #FF1616;
$blue: #00A8FF;
$yellow: #F5A623;
$orange: #E7523C;
$turquoise: #08BAA3;
$bright-turq:#36D5C0;
$light-turq: #E8FDFA;
$light-blue: #E0F8FE;
$borrower-blue: #19A0C4;
$borrower-l-blue: #80D0EB;
$owner-red: #B43B4A;
$owner-l-red: #BA5A72;

$black:#2E2D2D;
$dark-grey: #4A4A4A;
$med-grey: #868686;
$grey: #a6a7a5;
$light-grey: #E8E8E8;
$lighter-grey: #F8F7F7;
$white: #fff;
$off-white: #FFFBF4;