/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
  // Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'base';
@import 'home';

$margin: 60px;

.logo img {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color:black;
}
.navbar-toggler {
  border: 1px solid $orange;
}
.nav-link{
    width:10rem;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    color: $orange;
}

.navbar-brand {
  padding-bottom: 0.7rem;
  img { width: 25%; }
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Sofia Pro Light', 'sans-serif';
    font-weight: normal;
}
p {
    font-family: 'Source Sans Pro Regular', 'sans-serif';
    font-weight: normal;
}
body {
    background: $white;
}
.btn-primary {
    color: $white;
    &:hover{
        color:$white;
    }
}
hr {
    border: 1px solid $orange;
    margin:0px;
}

footer {
    background-color: $white;
    border: $orange solid 1px;
    padding:$margin;
    margin-top:$margin;
    h4 {
        padding-right:10px;
    }
    a {
        .fa {
            color: $orange;
            padding:10px;
            &:hover {
                cursor: pointer;
                color: $yellow;
            }
        }
    }
}
