// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* site wide card-styling */

#profile-index {
    margin-top: $margin;
    margin-bottom:$margin;
    h1 {
        margin-bottom: 2rem;
    }
    .card {
        align-items: center;
        margin-bottom:10px;
        background-color:$white;
        border: 1px solid $white;
        @include soft-shadow;
        .card-img-top {
            width: 100%;
            // height: 500px;
        }
        .card-body {
            span {
                padding: 5px;
                .fas {
                    padding-right: 5px;
                    color: $turquoise;
                }
            }
        }
    }
}

.profile-margin {
    margin-top:30px;
}