<footer>
    <div class="container">
        <div class="row d-flex justify-content-space-around">
            <h4>&copy;Pooch Pals</h4>
            <a href="">
                <i class="fa fa-lg fa-tumblr" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-lg fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-lg fa-envelope" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</footer>