<nav class="navbar navbar-expand-lg navbar-light bg-faded" style="background-color:#fff;">
    <span><a class="navbar-brand logo-text" href="/">
    </a></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ppals-navbar" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Pooch Pals</a>
    <div class="collapse navbar-collapse" id="ppals-navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">How it works
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><button class="btn btn-outline-secondary my-2 my-sm-0" type="button">Get Started</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Sign In</button>
        </form>
    </div>
</nav>
<hr>